.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .text {
    opacity: 0;
    animation: blinking 1s infinite;
  }
}

@keyframes blinking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
