header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0.5rem;
}

header > menu {
  display: inline-flex;
  gap: 0.5rem;
}

header > h1 {
  font-size: 1rem;
}