.sizeList,
.playersList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  flex-wrap: nowrap;

  &.hasScroll {
    mask-image: linear-gradient(
      to right,
      transparent,
      white 0%,
      white 90%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      white 0%,
      white 90%,
      transparent
    );
  }
}

.voteCard,
.playerCard {
  min-width: 10rem;
  min-height: 12rem;
}

.playerCard {
  .cardContent {
    font-size: 4rem;
  }
}

.cardBodyAlt {
  height: 100%;
  align-content: center;
}

.voteCard {
  cursor: pointer;
}

.voteCard.selected,
.voteCard:hover {
  background-color: var(--foreground);
  color: var(--background);
}

.cardContent {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 2rem 0;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.boardActions {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.gameData {
  display: inline-flex;
  gap: 3rem;

  .gameStatus {
    opacity: 0.7;
  }
}

.checkboxAlt {
  cursor: default;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .scoreboardItem {
    inline-size: 100%;
    display: inline-flex;

    .scoreboardPlayer,
    .scoreboardScore {
      padding: 1rem;
      border: 1px solid var(--foreground);
    }

    .scoreboardPlayer {
      flex-grow: 1;
    }

    .scoreboardScore {
      flex-shrink: 1;
      border-left: none;
      background-color: var(--foreground);
      color: var(--background);
      border-width: 1px;
    }
  }
}

.checkboxThick {
  font-weight: 400;
}
