@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Default Dark Theme */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Default Light Theme */
[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

*:not(dialog) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

dialog {
  z-index: 999;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

td,
th {
  text-align: left;
  padding: 0.5rem;
}

th {
  font-weight: 700;
  border-bottom: 1px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button {
  background: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

button:disabled:hover {
  background: inherit;
  color: inherit;
}

button:hover {
  background: var(--foreground);
  color: var(--background);
}

main {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 3.75rem);
  margin-inline: 2rem;
  padding: 1rem 0;
}

.form.vertical {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

select,
input {
  background: var(--background);
  border: 1px solid var(--foreground);
  padding: 0.5rem 1rem;
  color: var(--foreground);
}

/* Error messages */

.error-message {
  color: red;
}

/* utilities */

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.text-align-right {
  text-align: right;
}
